[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Carlos Ballena
	email = 687315+cballenar@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
  undo = "!f() { git reset --soft HEAD~${1:-1}; }; f"
	dog = log --all --decorate --oneline --graph
	gone = "!f() { git branch -vv | grep \": gone]\" | awk \"{print (\\$1 == \\\"*\\\" ? \\$2 : \\$1)}\" | xargs -r git branch -d; }; f"
[core]
	excludesfile = /Users/cballenar/.gitignore_global
	editor = vi
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/cballenar/Repositories/jhsph/jhsph
	repo = /Users/cballenar/Repositories/un/undiario.pe
[fetch]
	prune = true
