[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Carlos Ballena
	email = 687315+cballenar@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
  undo = reset --soft HEAD^
	dog = log --all --decorate --oneline --graph
[core]
	excludesfile = /Users/cballenar/.gitignore
	editor = vi
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/cballenar/Repositories/jhsph/jhsph
	repo = /Users/cballenar/Repositories/un/undiario.pe
